@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    margin-top: 10px;
}
#div{
    display: flexbox;
    padding: 10px;
    text-align: left;
    min-width: 200px;
    max-width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgb(180, 176, 176);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
